In [1]:
import pandas as pd

In [2]:
category = pd.read_csv('../../data/processed/p_category_tree.csv')

In [3]:
category.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1669 entries, 0 to 1668
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   categoryid  1669 non-null   int64
 1   parentid    1644 non-null   float64
dtypes: float64(1), int64(1)
memory usage: 26.2 KB

In [4]:
category.head()

   categoryid  parentid
0        1016     213.0
1         809     169.0
2         570       9.0
3        1691     885.0
4         536    1691.0

In [5]:
category.shape

(1669, 2)

In [7]:
category.isnull().sum()

categoryid     0
parentid      25
dtype: int64

**On constate la présence de valeurs null dans parentId.**

**Hypothèse 1 : La présence de valeurs null dans parentId indique que les categoryId associées à ces champs null sont la racine de l’arborescence, autrement dit, la première génération de catégories.**

**Analysons cela de plus près.**

In [14]:
category_without_parent = category[category['parentid'].isnull()]
category_without_parent["categoryid"].count()

np.int64(25)

Nous avons 25 catégories dans la première génération. Ainsi, il n'est pas nécessaire de remplacer les valeurs null dans parentId.

À présent, déterminons la deuxième génération : celle-ci correspond aux categoryId ayant pour parentId une catégorie de la première génération (category_without_parent). Et ainsi de suite pour trouver les autres générations.

In [22]:
category_level1 = category_without_parent
print(category_level1['categoryid'].count())
category_level2 = category[category['parentid'].isin(category_level1['categoryid'])]
print(category_level2['categoryid'].count())
category_level3 = category[category['parentid'].isin(category_level2['categoryid'])]
print(category_level3['categoryid'].count())
category_level4 = category[category['parentid'].isin(category_level3['categoryid'])]
print(category_level4['categoryid'].count())
category_level5 = category[category['parentid'].isin(category_level4['categoryid'])]
print(category_level5['categoryid'].count())
category_level6 = category[category['parentid'].isin(category_level5['categoryid'])]
print(category_level6['categoryid'].count())
category_level7 = category[category['parentid'].isin(category_level6['categoryid'])]
print(category_level7['categoryid'].count())
category_level8 = category[category['parentid'].isin(category_level7['categoryid'])]
print(category_level8['categoryid'].count())

25
174
702
665
90
13
0
0

Nous concluons que nous avons 6 génerations de categories.