**Analyse de pretraitement**

In [1]:
import pandas as pd

**Compréhension des Données**

In [2]:
events = pd.read_csv('../../data/processed/p_events.csv')

In [3]:
events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2756101 entries, 0 to 2756100
Data columns (total 10 columns):
 #   Column         Dtype
---  ------         -----
 0   timestamp      object
 1   visitorid      int64
 2   event          object
 3   itemid         int64
 4   transactionid  float64
 5   date           object
 6   year           int64
 7   month          int64
 8   day            int64
 9   hour           int64
dtypes: float64(1), int64(6), object(3)
memory usage: 210.3+ MB

In [5]:
events.head()

,timestamp,visitorid,event,itemid,transactionid,date,year,month,day,hour
0,1970-01-01 00:23:53.221332117,257597,view,355908,NaN,1970-01-01,1970,1,1,0
1,1970-01-01 00:23:53.224214164,992329,view,248676,NaN,1970-01-01,1970,1,1,0
2,1970-01-01 00:23:53.221999827,111016,view,318965,NaN,1970-01-01,1970,1,1,0
3,1970-01-01 00:23:53.221955914,483717,view,253185,NaN,1970-01-01,1970,1,1,0
4,1970-01-01 00:23:53.221337106,951259,view,367447,NaN,1970-01-01,1970,1,1,0

In [6]:
events.shape

(2756101, 10)

**Gestion des Valeurs Manquantes**

In [7]:
events.isnull().sum()

timestamp              0
visitorid              0
event                  0
itemid                 0
transactionid    2733644
date                   0
year                   0
month                  0
day                    0
hour                   0
dtype: int64

***Dans transactionid nous avons 2733644 valeurs manquantes***

In [8]:
events[events.transactionid.isnull()].event.unique()

array(['view', 'addtocart'], dtype=object)

On constate que des valeurs NaN apparaissent dans transactionid uniquement lorsque les événements sont view et addtocart.

In [9]:
events[events.transactionid.notnull()].event.unique()

array(['transaction'], dtype=object)

**Hypothèse 1 - TransactionID : Les champs null dans transactionId correspondent aux événements addToCart et view, tandis que les autres valeurs correspondent aux visiteurs ayant effectué une transaction. Dans ce cas, il n'est pas nécessaire de remplacer les valeurs manquantes.**