In [2]:
import pandas as pd

**comprehension de la donnée**

In [3]:
items = pd.read_csv('../../data/processed/p_item_properties.csv')

In [4]:
items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20275902 entries, 0 to 20275901
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   timestamp  int64
 1   itemid     int64
 2   property   object
 3   value      object
dtypes: int64(2), object(2)
memory usage: 618.8+ MB

In [5]:
items.head()

       timestamp  itemid    property                            value
0  1435460400000  460429  categoryid                             1338
1  1441508400000  206783         888          1116713 960601 n277.200
2  1439089200000  395014         400  n552.000 639502 n720.000 424566
3  1431226800000   59481         790                       n15360.000
4  1431831600000  156781         917                           828513

Verification des valeurs manquantes

In [6]:
items.isnull().sum()

timestamp    0
itemid       0
property     0
value        0
dtype: int64

Pas de valeurs manquantes

In [7]:
items.shape

(20275902, 4)

In [38]:
items['itemid'].nunique()

417053

In [43]:
items.groupby('property').count()

            timestamp   itemid    value
property
0               41406    41406    41406
1                5649     5649     5649
10                468      468      468
100               253      253      253
1000             2853     2853     2853
...               ...      ...      ...
997              4141     4141     4141
998               565      565      565
999               217      217      217
available     1503639  1503639  1503639
categoryid     788214   788214   788214

[1104 rows x 3 columns]

In [54]:

items_available = items[items['property']=='available']
print(items_available)

              timestamp  itemid   property value
5         1436065200000  285026  available     0
15        1437274800000  186518  available     0
79        1433646000000  423682  available     0
82        1434250800000  316253  available     1
96        1437274800000  430459  available     0
...                 ...     ...        ...   ...
20275845  1440903600000  229797  available     0
20275855  1438484400000  225378  available     1
20275889  1433041200000  356167  available     0
20275891  1439089200000  200211  available     0
20275896  1436065200000   74745  available     0

[1503639 rows x 4 columns]

In [55]:
items_category = items[items['property']=='categoryid']
print(items_category)

              timestamp  itemid    property value
0         1435460400000  460429  categoryid  1338
140       1432436400000  281245  categoryid  1277
151       1435460400000   35575  categoryid  1059
189       1437274800000    8313  categoryid  1147
197       1437879600000   55102  categoryid    47
...                 ...     ...         ...   ...
20275797  1433646000000  255696  categoryid  1404
20275822  1431226800000  390760  categoryid   324
20275830  1437879600000  211844  categoryid   256
20275872  1435460400000  444741  categoryid   511
20275878  1435460400000   97513  categoryid  1385

[788214 rows x 4 columns]

In [59]:
items_neutre = items[(items['property'] != 'available') & (items['property'] != 'categoryid')]
items_neutre_sorted = items_neutre.sort_values(by='property')
print(items_neutre_sorted)

              timestamp  itemid property  \
7602043   1435460400000  261118        0
15003604  1433646000000    8344        0
18349773  1433041200000   65223        0
3375664   1441508400000  123636        0
15294204  1435460400000   43950        0
...                 ...     ...      ...
4307705   1435460400000  242849      999
9474316   1433041200000  214619      999
13943097  1434250800000  430870      999
10024762  1432436400000  433640      999
9025505   1439694000000   80335      999

                                                      value
7602043                                              769062
15003604                                             769062
18349773                                      440924 680327
3375664   119932 717520 754228 505898 98606 632686 40647...
15294204                                     824508 1157821
...                                                     ...
4307705                                             1116693
9474316                                             1116693
13943097                                            1116693
10024762                                            1116693
9025505                                             1116693

[17984049 rows x 4 columns]

In [ ]:
items_available_category = pd.merge(pd.merge(items_available, items_category, on='itemid', how='inner'), items_neutre, on='itemid', how='inner')
print(items_available_category_neutre)
print(items_available_category_neutre.itemid.duplicated().sum())

In [16]:
uni_itemid= items.itemid.nunique()
all_itemid= items.itemid.count()
print('Unique items:',uni_itemid)
print('All items:',all_itemid)

Unique items: 417053
All items: 20275902